{% extends 'base.html' %}

{% block body %}

{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">




<div class= "container-fluid px-2 my-3">
<img src="/static/img/1.jfif.jpg" class="img-thumbnail" alt="..." height="1024" width="450">
 <div class ="text">
 Let me Point you a picture. It's April 2011. I'm 18 and I have just been released from Huddersfield Town football 
 club at the end of a two year scholarship. Up until this point. I had my heart set on becoming a professional foot
 baller moving all the way from sydney, Australia to pursue it. 
 I was don't care about my body, Stamina but after a long time I realise that stamina , and fitness is most 
 importan for every player , for every best team player.
 Then I did join the Gurdeep fitness and You can see my before and after pic totally change.
 I have gained my weight and stamina thankyou gurdeep sir and my Gym Trainer who teaches me thankyou.
 My #fitness #life goes with the quote “It all started with a #dream”.I’ve have an #Ideal image of #myself with a #tonedPhysique to achieve in my #mind and I will not stop until i achieve it no matter whatever it takes, may be a #lifeTime, because I believe fitness is a #lifelong process..! It all started when I was very thin during 2nd year of engineering.

Joined local #gym and got few more results but the trainer did not share any knowledge about #diet and workout form, so my #physique started to hit #plateau and i was #depressed and my #economic condition was a big #hurdle on my way.

Then i was broke but something lit a fire inside me, that’s when i started #working out like never before.Did some #research about body #functioning , Took some time to learn about proper workout forms and #nutrition.

After a 3 years of trial and error application of different nutrition, diet and #workout on my #body got to know how to build #muscle.
</div>
</div>

{% load static %}

<link rel="stylesheet" href="{% static 'trans.css' %}">
<div class= "container-fluid px-2 my-3">
    <img src="/static/img/trans.jfif" class="rounded float-start" alt="...">
     <div class ="text">
     
     I was don't care about my body, Stamina but after a long time I realise that stamina , and fitness is most 
     importan for every player , for every best team player.
     Then I did join the Gurdeep fitness and You can see my before and after pic totally change.
     I have gained my weight and stamina thankyou gurdeep sir and my Gym Trainer who teaches me thankyou.
     My #fitness #life goes with the quote “It all started with a #dream”.I’ve have an #Ideal image of #myself with a #tonedPhysique to achieve in my #mind and I will not stop until i achieve it no matter whatever it takes, may be a #lifeTime, because I believe fitness is a #lifelong process..! It all started when I was very thin during 2nd year of engineering.
    
    Joined local #gym and got few more results but the trainer did not share any knowledge about #diet and workout form, so my #physique started to hit #plateau and i was #depressed and my #economic condition was a big #hurdle on my way.
    
    Then i was broke but something lit a fire inside me, that’s when i started #working out like never before.Did some #research about body #functioning , Took some time to learn about proper workout forms and #nutrition.
    
    After a 3 years of trial and error application of different nutrition, diet and #workout on my #body got to know how to build #muscle.
    </div>
</div>

{% endblock body %}